html {
  background-image: url(../img/carbon.png);
  background-repeat: repeat; 
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;
}

table { 
  table-layout: fixed;
  width:100%;
}

.svg-inject{
  width:60px;
  height:60px;
  margin: 2px auto;
  padding: 32px;
  vertical-align: top;
}
.svg-grey * {
  fill:#606060;
}
.svg-green * {
  fill:#569e26;
}
.svg-yellow * {
  fill:#efc411;
}
.svg-red * {
  fill:#b52808;
}