<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Open Inverter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>32D281AD1CF0066E00606B12</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>32D281BE1CF0066F00606B12</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>32D281C91CF0066F00606B12</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
