@font-face{
	font-family:'icons';
	src:url('/font/icons.eot'); /* IE9 Compat Modes */
	src:url('/font/icons.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('/font/icons.woff2') format('woff2'), /* Super Modern Browsers */
		url('/font/icons.woff') format('woff'), /* Pretty Modern Browsers */
		url('/font/icons.ttf') format('truetype'), /* Safari, Android, iOS */
		url('/font/icons.svg#icons') format('svg');  /* Legacy iOS */
	font-weight:normal;
	font-style:normal
}
.icons{
	font-family:'icons';
	font-style:normal;
	font-weight:normal;
	speak:none;
	display:inline-block;
	text-decoration:inherit;
	width:1em;
	margin-right:.5em;
	text-align:center;
	font-variant:normal;
	text-transform:none;
	line-height:1em;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale
}
.icon-power:before{content:'\e800'}
.icon-circle-down:before{content:'\e801'}
.icon-circle-warning:before{content:'\e802'}
.icon-list:before{content:'\e803'}
.icon-magnet2:before{content:'\e804'}
.icon-circle-ok:before{content:'\e805'}
.icon-circle-question:before{content:'\e806'}
.icon-circle-cancel:before{content:'\e807'}
.icon-graph-bar:before{content:'\e808'}
.icon-graph:before{content:'\e809'}
.icon-square-ok:before{content:'\e80a'}
.icon-square-cancel:before{content:'\e80b'}
.icon-circle-up:before{content:'\e80c'}
.icon-tune:before{content:'\e80d'}
.icon-idea:before{content:'\e80e'}
.icon-plug:before{content:'\e80f'}
.icon-console:before{content:'\e810'}
.icon-download:before{content:'\e811'}
.icon-save:before{content:'\e812'}
.icon-encoder2:before{content:'\e813'}
.icon-lcd:before{content:'\e814'}
.icon-test:before{content:'\e815'}
.icon-day-and-night:before{content:'\e816'}
.icon-inverter:before{content:'\e817'}
.icon-upload-1:before{content:'\e818'}
.icon-com:before{content:'\e819'}
.icon-pcb:before{content:'\e81a'}
.icon-step-down:before{content:'\e81b'}
.icon-settings:before{content:'\e81c'}
.icon-csv:before{content:'\e81d'}
.icon-reset:before{content:'\e81e'}
.icon-alert:before{content:'\e81f'}
.icon-flash2:before{content:'\e820'}
.icon-connect:before{content:'\e821'}
.icon-trash:before{content:'\e822'}
.icon-magic:before{content:'\e823'}
.icon-binary:before{content:'\e824'}
.icon-pwm:before{content:'\e825'}
.icon-bug:before{content:'\e826'}
.icon-print:before{content:'\e827'}
.icon-pi:before{content:'\e828'}
.icon-encoder:before{content:'\e829'}
.icon-png:before{content:'\e82a'}
.icon-throttle:before{content:'\e82b'}
.icon-source:before{content:'\e82c'}
.icon-ram:before{content:'\e82d'}
.icon-off:before{content:'\e82e'}
.icon-wifi:before{content:'\e82f'}
.icon-find:before{content:'\e830'}
.icon-key2:before{content:'\e831'}
.icon-usb:before{content:'\e832'}
.icon-wrench:before{content:'\e833'}
.icon-gear:before{content:'\e834'}
.icon-next:before{content:'\e835'}
.icon-list2:before{content:'\e836'}
.icon-motor:before{content:'\e837'}
.icon-table:before{content:'\e838'}
.icon-downto:before{content:'\e839'}
.icon-upload:before{content:'\e83a'}
.icon-load:before{content:'\e83b'}
.icon-puzzle:before{content:'\e83c'}
.icon-circle:before{content:'\e83d'}
.icon-doc:before{content:'\e83e'}
.icon-star:before{content:'\e83f'}
.icon-flash:before{content:'\e840'}
.icon-apple:before{content:'\e841'}
.icon-components:before{content:'\e842'}
.icon-encoder3:before{content:'\e843'}
.icon-menu:before{content:'\e844'}
.icon-windows:before{content:'\e845'}
.icon-up:before{content:'\e846'}
.icon-down:before{content:'\e847'}
.icon-transfer:before{content:'\e848'}
.icon-encoder4:before{content:'\e849'}
.icon-speedometer:before{content:'\e84a'}
.icon-ok:before{content:'\e84b'}
.icon-battery:before{content:'\e84c'}
.icon-key:before{content:'\e84d'}
.icon-magnet:before{content:'\e84e'}
.icon-temp:before{content:'\e84f'}
.icon-cancel:before{content:'\e850'}
.icon-point-down:before{content:'\e851'}
.icon-select:before{content:'\e852'}
.icon-pdf:before{content:'\e853'}
.icon-password:before{content:'\e854'}
.icon-info:before{content:'\e855'}
.icon-chip:before{content:'\e856'}
.icon-refresh:before{content:'\e857'}
.icon-electric-shock:before{content:'\e858'}