body {
  /*
  Background by Harry
  http://www.freepik.com/free-vector/technological-background-with-full-color-circuits_951748.htm
  */
  background-image: url(../img/background.png);
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
form {
  display: none;
}
.tooltip-inner {
    max-width: 500px !important;
}
.badge-lg {
  font-size:13px !important;
  font-weight:normal !important;
}
.svg-inject{
  width:32px;
  height:32px;
  margin: 8px auto;
  padding: 4px;
  vertical-align: top;
}
.svg-green * {
  fill:#569e26;
}
.svg-yellow * {
  fill:#efc411;
}
.svg-red * {
  fill:#b52808;
}
.circle-green {
  width: 20px;
  height: 20px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border-style: solid;
  border-color: #00cc00;
  background: #00ff00
}
.circle-red {
  width: 20px;
  height: 20px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border-style: solid;
  border-color: #e62e00;
  background: #ff704d
}