<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>17C88</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>osx-pl2303</string>
	<key>CFBundleIdentifier</key>
	<string>nl.repleo.osx-pl2303</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>osx-pl2303</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>3.1.5</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>3.1.5</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>9M189t</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>17A315g</string>
	<key>DTSDKName</key>
	<string>macosx10.13</string>
	<key>DTXcode</key>
	<string>0900</string>
	<key>DTXcodeBuild</key>
	<string>9M189t</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>0018_0c26</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>nl.repleo.osx-pl2303</string>
			<key>IOClass</key>
			<string>nl_repleo_driver_pl2303</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOMatchCategory</key>
			<string>ProfilicSerialUSB</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>24</integer>
			<key>idVendor</key>
			<integer>3110</integer>
		</dict>
		<key>04bb_0a03</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>nl.repleo.osx-pl2303</string>
			<key>IOClass</key>
			<string>nl_repleo_driver_pl2303</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOMatchCategory</key>
			<string>ProfilicSerialUSB</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>2563</integer>
			<key>idVendor</key>
			<integer>1211</integer>
		</dict>
		<key>04bb_0a0e</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>nl.repleo.osx-pl2303</string>
			<key>IOClass</key>
			<string>nl_repleo_driver_pl2303</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOMatchCategory</key>
			<string>ProfilicSerialUSB</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>2574</integer>
			<key>idVendor</key>
			<integer>1211</integer>
		</dict>
		<key>04bb_aaa2</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>nl.repleo.osx-pl2303</string>
			<key>IOClass</key>
			<string>nl_repleo_driver_pl2303</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOMatchCategory</key>
			<string>ProfilicSerialUSB</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>43682</integer>
			<key>idVendor</key>
			<integer>1211</integer>
		</dict>
		<key>04e8_8001</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>nl.repleo.osx-pl2303</string>
			<key>IOClass</key>
			<string>nl_repleo_driver_pl2303</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOMatchCategory</key>
			<string>ProfilicSerialUSB</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>32769</integer>
			<key>idVendor</key>
			<integer>1256</integer>
		</dict>
		<key>0547_2008</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>nl.repleo.osx-pl2303</string>
			<key>IOClass</key>
			<string>nl_repleo_driver_pl2303</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOMatchCategory</key>
			<string>ProfilicSerialUSB</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>8200</integer>
			<key>idVendor</key>
			<integer>1351</integer>
		</dict>
		<key>0557_2008</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>nl.repleo.osx-pl2303</string>
			<key>IOClass</key>
			<string>nl_repleo_driver_pl2303</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOMatchCategory</key>
			<string>ProfilicSerialUSB</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>8200</integer>
			<key>idVendor</key>
			<integer>1367</integer>
		</dict>
		<key>056e_5003</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>nl.repleo.osx-pl2303</string>
			<key>IOClass</key>
			<string>nl_repleo_driver_pl2303</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOMatchCategory</key>
			<string>ProfilicSerialUSB</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>20483</integer>
			<key>idVendor</key>
			<integer>1390</integer>
		</dict>
		<key>056e_5004</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>nl.repleo.osx-pl2303</string>
			<key>IOClass</key>
			<string>nl_repleo_driver_pl2303</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOMatchCategory</key>
			<string>ProfilicSerialUSB</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>20484</integer>
			<key>idVendor</key>
			<integer>1390</integer>
		</dict>
		<key>0584_b000</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>nl.repleo.osx-pl2303</string>
			<key>IOClass</key>
			<string>nl_repleo_driver_pl2303</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOMatchCategory</key>
			<string>ProfilicSerialUSB</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>45056</integer>
			<key>idVendor</key>
			<integer>1412</integer>
		</dict>
		<key>05ad_0fba</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>nl.repleo.osx-pl2303</string>
			<key>IOClass</key>
			<string>nl_repleo_driver_pl2303</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOMatchCategory</key>
			<string>ProfilicSerialUSB</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>4026</integer>
			<key>idVendor</key>
			<integer>1453</integer>
		</dict>
		<key>067a_7561</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>nl.repleo.osx-pl2303</string>
			<key>IOClass</key>
			<string>nl_repleo_driver_pl2303</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOMatchCategory</key>
			<string>ProfilicSerialUSB</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>30049</integer>
			<key>idVendor</key>
			<integer>1658</integer>
		</dict>
		<key>067b_04bb</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>nl.repleo.osx-pl2303</string>
			<key>IOClass</key>
			<string>nl_repleo_driver_pl2303</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOMatchCategory</key>
			<string>ProfilicSerialUSB</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>1211</integer>
			<key>idVendor</key>
			<integer>1659</integer>
		</dict>
		<key>067b_2303</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>nl.repleo.osx-pl2303</string>
			<key>IOClass</key>
			<string>nl_repleo_driver_pl2303</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOMatchCategory</key>
			<string>ProfilicSerialUSB</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>8963</integer>
			<key>idVendor</key>
			<integer>1659</integer>
		</dict>
		<key>067b_aaa0</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>nl.repleo.osx-pl2303</string>
			<key>IOClass</key>
			<string>nl_repleo_driver_pl2303</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOMatchCategory</key>
			<string>ProfilicSerialUSB</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>43680</integer>
			<key>idVendor</key>
			<integer>1659</integer>
		</dict>
		<key>067b_aaa2</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>nl.repleo.osx-pl2303</string>
			<key>IOClass</key>
			<string>nl_repleo_driver_pl2303</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOMatchCategory</key>
			<string>ProfilicSerialUSB</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>43682</integer>
			<key>idVendor</key>
			<integer>1659</integer>
		</dict>
		<key>0731_0528</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>nl.repleo.osx-pl2303</string>
			<key>IOClass</key>
			<string>nl_repleo_driver_pl2303</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOMatchCategory</key>
			<string>ProfilicSerialUSB</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>1320</integer>
			<key>idVendor</key>
			<integer>1841</integer>
		</dict>
		<key>0745_0001</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>nl.repleo.osx-pl2303</string>
			<key>IOClass</key>
			<string>nl_repleo_driver_pl2303</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOMatchCategory</key>
			<string>ProfilicSerialUSB</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>1</integer>
			<key>idVendor</key>
			<integer>1861</integer>
		</dict>
		<key>078b_1234</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>nl.repleo.osx-pl2303</string>
			<key>IOClass</key>
			<string>nl_repleo_driver_pl2303</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOMatchCategory</key>
			<string>ProfilicSerialUSB</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>4660</integer>
			<key>idVendor</key>
			<integer>1931</integer>
		</dict>
		<key>0830_0080</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>nl.repleo.osx-pl2303</string>
			<key>IOClass</key>
			<string>nl_repleo_driver_pl2303</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOMatchCategory</key>
			<string>ProfilicSerialUSB</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>128</integer>
			<key>idVendor</key>
			<integer>2096</integer>
		</dict>
		<key>0df7_0620</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>nl.repleo.osx-pl2303</string>
			<key>IOClass</key>
			<string>nl_repleo_driver_pl2303</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOMatchCategory</key>
			<string>ProfilicSerialUSB</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>1568</integer>
			<key>idVendor</key>
			<integer>3575</integer>
		</dict>
		<key>0eba_1080</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>nl.repleo.osx-pl2303</string>
			<key>IOClass</key>
			<string>nl_repleo_driver_pl2303</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOMatchCategory</key>
			<string>ProfilicSerialUSB</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>4224</integer>
			<key>idVendor</key>
			<integer>3770</integer>
		</dict>
		<key>11ad_0001</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>nl.repleo.osx-pl2303</string>
			<key>IOClass</key>
			<string>nl_repleo_driver_pl2303</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOMatchCategory</key>
			<string>ProfilicSerialUSB</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>1</integer>
			<key>idVendor</key>
			<integer>4525</integer>
		</dict>
		<key>11f5_0003</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>nl.repleo.osx-pl2303</string>
			<key>IOClass</key>
			<string>nl_repleo_driver_pl2303</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOMatchCategory</key>
			<string>ProfilicSerialUSB</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>3</integer>
			<key>idVendor</key>
			<integer>4597</integer>
		</dict>
		<key>11f7_02df</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>nl.repleo.osx-pl2303</string>
			<key>IOClass</key>
			<string>nl_repleo_driver_pl2303</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOMatchCategory</key>
			<string>ProfilicSerialUSB</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>735</integer>
			<key>idVendor</key>
			<integer>4599</integer>
		</dict>
		<key>1453_4026</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>nl.repleo.osx-pl2303</string>
			<key>IOClass</key>
			<string>nl_repleo_driver_pl2303</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOMatchCategory</key>
			<string>ProfilicSerialUSB</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>16422</integer>
			<key>idVendor</key>
			<integer>5203</integer>
		</dict>
		<key>19d2_fffd</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>nl.repleo.osx-pl2303</string>
			<key>IOClass</key>
			<string>nl_repleo_driver_pl2303</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOMatchCategory</key>
			<string>ProfilicSerialUSB</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>65533</integer>
			<key>idVendor</key>
			<integer>6610</integer>
		</dict>
		<key>2303_0b8c</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>nl.repleo.osx-pl2303</string>
			<key>IOClass</key>
			<string>nl_repleo_driver_pl2303</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOMatchCategory</key>
			<string>ProfilicSerialUSB</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>8963</integer>
			<key>idVendor</key>
			<integer>2956</integer>
		</dict>
		<key>2303_1659</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>nl.repleo.osx-pl2303</string>
			<key>IOClass</key>
			<string>nl_repleo_driver_pl2303</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOMatchCategory</key>
			<string>ProfilicSerialUSB</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>8963</integer>
			<key>idVendor</key>
			<integer>5721</integer>
		</dict>
		<key>2478_2008</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>nl.repleo.osx-pl2303</string>
			<key>IOClass</key>
			<string>nl_repleo_driver_pl2303</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOMatchCategory</key>
			<string>ProfilicSerialUSB</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>8200</integer>
			<key>idVendor</key>
			<integer>9336</integer>
		</dict>
		<key>6189_2068</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>nl.repleo.osx-pl2303</string>
			<key>IOClass</key>
			<string>nl_repleo_driver_pl2303</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOMatchCategory</key>
			<string>ProfilicSerialUSB</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>8296</integer>
			<key>idVendor</key>
			<integer>24969</integer>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2014 - 2017 Repleo, Amstelveen, The Netherlands. All rights reserved.</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOSerialFamily</key>
		<string>11.0</string>
		<key>com.apple.iokit.IOUSBHostFamily</key>
		<string>1.1</string>
		<key>com.apple.kpi.bsd</key>
		<string>16.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>16.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>16.0</string>
	</dict>
</dict>
</plist>
